.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0f0f0f;
  color: white;
  position: sticky;
  top: 0;
}

.navbar span {
  color: #00e5ff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}