.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #111, #1c1c1c);
  color: white;
}

.hero h1 {
  font-size: 50px;
  color: #00e5ff;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00e5ff;
  border: none;
  cursor: pointer;
}